# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Resend form notifications
RESEND_API_KEY=
CONTACT_FORM_EMAIL_FROM="Jiahua Website <forms@jhaccounting.org>"
CONTACT_FORM_EMAIL_TO="info@jhaccounting.org"

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""
STRIPE_SECRET_KEY=""
